##### According to a new study from Princeton University's Woodrow Wilson School,  no matter how much more than $75,000 people make, they don't report any greater degree of happiness (http://content.time.com/time/magazine/article/0,9171,2019628,00.html). 

##### Therefore, in our analysis, we concentrated on metropolitan areas with a median income of $75,000 or more and considered which of these cities would be more affordable based on price per income. 

#### We've reviewed rent, sale prices of homes, income and price per square foot

In [1]:
# Dependencies and Setup
import requests
import json
import codecs
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import matplotlib as mpl

In [2]:
# File to Load
price_csv = "Resources/PricePSQ.csv"
affordability_csv = "Resources/affordability_income.csv"
#regionID (used as primary key in other instances) is different in rental_data.csv
rental_csv = "Resources/rental_data.csv"
price_income_csv = "Resources/price_to_income.csv"

In [3]:
# Read Affordability Data
pricing_data = pd.read_csv(price_csv, encoding = "ISO-8859-1")
afford_data = pd.read_csv(affordability_csv, encoding = "ISO-8859-1")
rental_data = pd.read_csv(rental_csv, encoding = "ISO-8859-1")
price_income_data = pd.read_csv(price_income_csv, encoding = "ISO-8859-1")

In [4]:
#Find the cities with median income of 75000 (based on Princeton's study) or greater per family and clean the data 
#This dataframe will only show the income data for December of each year 
#Data shown is from 2010-2018
good_income = afford_data.loc[afford_data["2018-03"] >= 75000, \
              ["RegionID", "RegionName", "2010-03", "2011-03", "2013-03", \
               "2014-03", "2015-03", "2016-03", "2017-03", "2018-03"]]

#Split the column RegionName into two separate columns of RegionName and State
good_income[["RegionName", "State"]]= good_income["RegionName"].str.split(",", expand=True)

#Define a new list called columns_order
columns_order = ["RegionID", "RegionName", "State", "2010-03", "2011-03", "2013-03", \
               "2014-03", "2015-03", "2016-03", "2017-03", "2018-03"]

#Change the order of columns using the columns_order list above
good_income = good_income.reindex(columns=columns_order)

#Rename the column RegionName to City
good_income.rename(columns = {"RegionName" : "City"}, inplace=True)

#Print the top income cities
good_income

,RegionID,City,State,2010-03,2011-03,2013-03,2014-03,2015-03,2016-03,2017-03,2018-03
1,394913,New York,NY,65121.91,64367.99,66087.02,66509.81,68243.81,71139.93,73819.12,77408.08281
7,395209,Washington,DC,86548.90,87700.10,90491.36,90421.65,92518.66,95301.86,98291.83,101670.89510
10,394404,Boston,MA,68693.52,69400.70,73055.94,74598.37,77558.07,81241.06,84234.23,87859.35341
11,395057,San Francisco,CA,72999.45,73138.14,78307.98,81617.52,87056.94,93638.40,99269.76,105089.13310
15,395078,Seattle,WA,63553.48,64249.95,67695.32,69572.76,73824.42,77390.27,80852.92,84056.06621
16,394865,Minneapolis-St Paul,MN,62788.52,63788.84,67128.56,67995.68,70491.18,72750.91,75876.15,78224.95265
17,395056,San Diego,CA,61472.65,61404.55,63239.67,64575.14,67316.70,70619.65,74339.18,78670.95671
20,394358,Baltimore,MD,65119.82,65508.47,68566.60,69698.84,72663.10,74908.19,76904.89,78202.51980
21,394530,Denver,CO,58461.10,59576.35,62815.33,65170.96,68612.92,71833.22,75176.14,78631.51020
34,395059,San Jose,CA,83870.93,85531.04,92039.31,94683.99,100127.20,107486.71,114456.82,121388.69900
35,394355,Austin,TX,55566.52,56920.25,60995.76,62688.59,66408.78,69490.48,72575.42,75383.84550
54,753924,Urban Honolulu,HI,70425.65,70639.84,74035.41,75279.85,77419.40,79533.96,80831.47,82258.71447
58,394415,Stamford,CT,79839.31,79087.63,83637.51,84399.80,87465.58,89324.98,90162.37,92947.39091
66,394952,Ventura,CA,75558.47,75265.73,76715.73,77549.24,78816.07,80741.39,82227.45,84114.36399
105,395068,Santa Rosa,CA,62509.88,62117.14,63900.45,64980.50,68516.44,72786.51,77868.01,83587.27468
124,395183,Vallejo,CA,67071.52,65729.56,66225.80,66737.94,69512.72,72722.54,75643.73,79219.83082
131,394820,Manchester,NH,67502.51,68523.80,69841.06,70498.35,73369.42,76046.20,77827.83,80217.80696
133,394327,Anchorage,AK,71926.72,71358.78,74530.45,75538.54,78159.79,79607.26,77497.91,77007.13641
141,395164,Trenton,NJ,73977.40,72797.17,72756.38,73062.25,75160.98,76758.38,78060.52,80838.31065
162,394405,Boulder,CO,63793.22,65265.91,69737.07,70808.58,72515.27,74799.27,78863.31,83394.36681
171,395065,Santa Cruz,CA,64683.52,65608.02,69005.18,67643.15,69823.12,74344.89,78083.89,81944.78554
260,394731,Kahului,HI,61093.05,61182.47,64778.55,66559.25,69386.03,72709.80,75434.23,77774.22141
288,394860,Midland,TX,54839.06,56702.11,68078.05,74544.66,75985.84,73780.91,74499.54,76410.39891
297,394900,Napa,CA,66492.32,65975.29,70349.52,72378.97,73916.41,77324.19,83514.34,90300.24882
367,753872,California-Lexington Park,MD,77641.89,81820.87,82834.59,81689.82,82106.50,81460.27,81366.39,82084.32963
387,394580,Fairbanks,AK,65428.11,65193.85,68738.16,69758.89,72459.65,74968.42,76001.38,78188.28380

### Price to Income for cities where income is greater than 75K

In [5]:
price_to_income = pd.merge(good_income, price_income_data, on='RegionID', how='left')
income = price_to_income[price_to_income['Index'] == 'Price To Income']
march_income = income[["RegionID", "RegionName", "2010_03", "2011_03", "2012_03", "2013_03", "2014_03", "2015_03", "2016_03", "2017_03", "2018_03"]]
march_income

,RegionID,RegionName,2010_03,2011_03,2012_03,2013_03,2014_03,2015_03,2016_03,2017_03,2018_03
0,394913,"New York, NY",5.672438,5.432825,5.220803,5.137166,5.313502,5.314768,5.290981,5.327888,5.465964
3,395209,"Washington, DC",3.700798,3.550737,3.493426,3.639021,3.908356,3.880298,3.839379,3.875195,3.912824
6,394404,"Boston, MA",4.670018,4.479782,4.359354,4.403475,4.659619,4.716466,4.750061,4.982535,5.092413
9,395057,"San Francisco, CA",7.248000,6.733833,6.415946,7.176791,8.099977,8.353154,8.524281,8.564542,8.864445
12,395078,"Seattle, WA",4.733022,4.205451,3.952151,4.090386,4.424145,4.525603,4.831357,5.303457,5.707974
15,394865,"Minneapolis-St Paul, MN",3.092922,2.734021,2.594021,2.721643,2.926657,2.972003,3.062505,3.140644,3.272119
18,395056,"San Diego, CA",6.092140,5.869272,5.656558,6.165434,6.880357,6.907647,7.100007,7.216921,7.414094
21,394358,"Baltimore, MD",3.765367,3.471307,3.269074,3.236270,3.324302,3.238232,3.189237,3.268973,3.349136
24,394530,"Denver, CO",3.823055,3.592029,3.566789,3.741125,3.937337,4.220779,4.598151,4.864575,5.007152
27,395059,"San Jose, CA",6.944003,6.542654,6.414938,7.236039,8.022476,8.462236,8.684795,8.798078,9.993398
30,394355,"Austin, TX",3.449919,3.316921,3.216061,3.180549,3.303631,3.507066,3.632152,3.809830,3.895217
33,753924,"Urban Honolulu, HI",6.687904,6.722835,6.655560,6.753525,7.225041,7.325037,7.569094,8.009257,8.191807
36,394415,"Stamford, CT",4.094474,4.075226,3.837206,3.595277,3.629156,3.607133,3.549959,3.563571,3.570688
38,394952,"Ventura, CA",5.479200,5.167026,4.921843,5.374387,6.100640,6.249994,6.527012,6.790920,7.010445
40,395068,"Santa Rosa, CA",6.192621,5.710179,5.421081,6.023432,6.929771,7.082972,7.450556,7.632146,7.531188
43,395183,"Vallejo, CA",3.427684,3.199474,3.030222,3.444277,4.289914,4.689789,4.811438,5.209949,5.309804
46,394820,"Manchester, NH",3.333209,3.104031,2.976802,2.996804,3.088016,3.069399,3.133621,3.268754,3.364216
49,394327,"Anchorage, AK",4.020759,4.110216,3.915157,4.025200,4.080036,4.083941,4.034808,4.129144,4.164037
52,395164,"Trenton, NJ",3.206385,3.070174,2.857166,2.758521,2.845519,2.843231,2.773639,2.837542,2.863247
55,394405,"Boulder, CO",4.845342,4.660932,4.460815,4.653192,5.000806,5.363008,5.961288,6.179046,6.169698
58,395065,"Santa Cruz, CA",8.283408,7.675891,7.197588,7.716812,8.886340,9.532659,9.551430,9.830453,10.093040
61,394731,"Kahului, HI",6.765090,6.384182,5.892622,6.034405,6.694787,7.197414,7.239739,7.436942,7.826431
63,394860,"Midland, TX",2.638630,2.620714,2.521330,2.555890,2.485758,2.666286,2.693109,2.679211,2.846145
65,394900,"Napa, CA",6.230795,5.597550,5.493307,5.816671,6.594457,7.151321,7.473728,7.544812,7.214036
67,753872,"California-Lexington Park, MD",3.377043,3.064010,3.001243,3.071181,3.158288,3.085018,3.120540,3.179445,3.340720
69,394580,"Fairbanks, AK",3.697188,3.777964,3.714417,3.498784,3.423220,3.287347,3.181340,3.240731,3.193610

In [6]:
rent_to_income = pd.merge(good_income, price_income_data, on='RegionID', how='left')
rent = price_to_income[price_to_income['Index'] == 'Rent Affordability']
march_rent = rent[["RegionID", "RegionName", "2011_03", "2012_03", "2013_03", "2014_03", "2015_03", "2016_03", "2017_03", "2018_03"]]
march_rent

,RegionID,RegionName,2011_03,2012_03,2013_03,2014_03,2015_03,2016_03,2017_03,2018_03
1,394913,"New York, NY",0.363721,0.367102,0.364429,0.386650,0.404256,0.404667,0.385103,0.369670
4,395209,"Washington, DC",0.263945,0.266992,0.265882,0.270068,0.269265,0.265053,0.256135,0.251838
7,394404,"Boston, MA",0.299997,0.312541,0.312090,0.323331,0.326620,0.328652,0.329795,0.320368
11,395057,"San Francisco, CA",0.377696,0.382198,0.368085,0.379624,0.417520,0.426876,0.402056,0.387872
13,395078,"Seattle, WA",0.288000,0.289390,0.281497,0.297013,0.294212,0.303139,0.309748,0.312188
16,394865,"Minneapolis-St Paul, MN",0.251894,0.255770,0.250802,0.258546,0.249904,0.249069,0.246718,0.250415
19,395056,"San Diego, CA",0.392414,0.397406,0.385960,0.398791,0.404298,0.401531,0.394516,0.387446
22,394358,"Baltimore, MD",0.292359,0.291822,0.283345,0.286662,0.279592,0.275377,0.266199,0.266446
25,394530,"Denver, CO",0.280380,0.286072,0.288847,0.304553,0.319881,0.329430,0.317015,0.311884
29,395059,"San Jose, CA",0.334054,0.339878,0.334813,0.344726,0.382673,0.387062,0.359402,0.346277
31,394355,"Austin, TX",0.276808,0.277456,0.277987,0.292111,0.295624,0.291666,0.277615,0.266850
35,753924,"Urban Honolulu, HI",0.367781,0.355337,0.355776,0.352604,0.372465,0.369955,0.362681,0.344560
41,395068,"Santa Rosa, CA",0.340196,0.338064,0.344411,0.360477,0.390388,0.405240,0.391123,0.402158
44,395183,"Vallejo, CA",0.297766,0.295923,0.291004,0.295784,0.303829,0.310715,0.316166,0.319119
47,394820,"Manchester, NH",0.268461,0.267736,0.257900,0.243240,0.267087,0.275043,0.274606,0.264249
50,394327,"Anchorage, AK",0.289411,0.294358,0.292552,0.292778,0.291710,0.283693,0.279182,0.269961
53,395164,"Trenton, NJ",0.271164,0.286659,0.293418,0.289726,0.282114,0.285936,0.285010,0.286275
56,394405,"Boulder, CO",0.348053,0.325795,0.331760,0.339789,0.353305,0.361127,0.332170,0.317402
60,395065,"Santa Cruz, CA",0.378978,0.382593,0.388840,0.373962,0.446843,0.461148,0.446597,0.439384
70,394580,"Fairbanks, AK",0.285671,0.277506,0.286653,0.253731,0.282861,0.272915,0.271732,0.254516